flow.json
[
  {
      "id": "ab7c3e09.cb342",
      "type": "subflow",
      "name": "Authorization",
      "info": "Check if the user is authorized or not suspended (first output), otherwise redirects the flow to the second output.\n\nGo to [Users](/mc/mc/users) control panel to suspend an user. \n\nVersion: _0.9.1_\n\nUrl: [GitHub](https://github.com/guidone/redbot-authorization)",
      "category": "RedBot Flows",
      "in": [
          {
              "x": 120,
              "y": 180,
              "wires": [
                  {
                      "id": "8a1f9031.e31c"
                  }
              ]
          }
      ],
      "out": [
          {
              "x": 1200,
              "y": 220,
              "wires": [
                  {
                      "id": "1041a80.7ae6758",
                      "port": 0
                  }
              ]
          },
          {
              "x": 1200,
              "y": 320,
              "wires": [
                  {
                      "id": "f86dd4e6.f3c868",
                      "port": 0
                  },
                  {
                      "id": "e17ee230.4d216",
                      "port": 0
                  },
                  {
                      "id": "6a81f4e7.bb1b0c",
                      "port": 0
                  }
              ]
          }
      ],
      "env": [],
      "meta": {
          "module": "redbot-authorization",
          "type": "redbot-authorization",
          "version": "1.1.0",
          "author": "Guido Bellomo",
          "desc": "Authorization node for Mission Control",
          "keywords": "guido.bellomo@gmail.com",
          "license": "MIT"
      },
      "color": "#ff6633",
      "outputLabels": [
          "User authorized or not suspended",
          "User not authorized or suspended "
      ],
      "icon": "font-awesome/fa-key",
      "status": {
          "x": 600,
          "y": 420,
          "wires": [
              {
                  "id": "577aefb850cdddad",
                  "port": 0
              }
          ]
      }
  },
  {
      "id": "260f24fe.f463ac",
      "type": "mc-configuration",
      "z": "ab7c3e09.cb342",
      "namespace": "redbot-authorization",
      "chatbotId": "",
      "debug": true,
      "x": 250,
      "y": 420,
      "wires": [
          [
              "577aefb850cdddad"
          ]
      ]
  },
  {
      "id": "b4a66080.3f871",
      "type": "function",
      "z": "ab7c3e09.cb342",
      "name": "Check if suspended",
      "func": "const { user } = msg.payload || {};\nconst privateChatbot = global.get('authorization_private'); \n\nconsole.log('USER data', user, privateChatbot)\n\nif (privateChatbot) {\n  if (user != null && user.payload != null && user.payload.authorized) {\n    return [msg, null, null];    \n  } else {\n    return [null, msg, null];    \n  }\n}\n\nif (!privateChatbot) {\n  if (user != null && user.payload != null && user.payload.suspended) {\n    return [null, null, msg];    \n  } else {\n    return [msg, null, null];    \n  }\n}\n\n\n\n",
      "outputs": 3,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 540,
      "y": 180,
      "wires": [
          [
              "1041a80.7ae6758"
          ],
          [
              "f86dd4e6.f3c868"
          ],
          [
              "e17ee230.4d216"
          ]
      ]
  },
  {
      "id": "8a1f9031.e31c",
      "type": "mc-graphql",
      "z": "ab7c3e09.cb342",
      "name": "",
      "query": "query {\n  user(userId: \"{{userId}}\") {\n    id,\n    first_name,\n    last_name,\n    username,\n    payload\n  }\n}",
      "debug": true,
      "noerr": 0,
      "x": 270,
      "y": 180,
      "wires": [
          [
              "b4a66080.3f871"
          ],
          [
              "6a81f4e7.bb1b0c"
          ],
          []
      ]
  },
  {
      "id": "1041a80.7ae6758",
      "type": "chatbot-pop-message",
      "z": "ab7c3e09.cb342",
      "x": 800,
      "y": 140,
      "wires": [
          []
      ]
  },
  {
      "id": "f86dd4e6.f3c868",
      "type": "chatbot-message",
      "z": "ab7c3e09.cb342",
      "name": "Not authorized",
      "message": [
          {
              "message": "{{tx.authorization.notAuthorized}}"
          }
      ],
      "language": "none",
      "x": 800,
      "y": 180,
      "wires": [
          []
      ]
  },
  {
      "id": "e17ee230.4d216",
      "type": "chatbot-message",
      "z": "ab7c3e09.cb342",
      "name": "Suspended",
      "message": [
          {
              "message": "{{tx.authorization.suspended}}"
          }
      ],
      "language": "none",
      "x": 790,
      "y": 220,
      "wires": [
          []
      ]
  },
  {
      "id": "6a81f4e7.bb1b0c",
      "type": "chatbot-message",
      "z": "ab7c3e09.cb342",
      "name": "User not found",
      "message": [
          {
              "message": "{{tx.authorization.userNotFound}}"
          }
      ],
      "language": "none",
      "x": 800,
      "y": 320,
      "wires": [
          []
      ]
  },
  {
      "id": "577aefb850cdddad",
      "type": "function",
      "z": "ab7c3e09.cb342",
      "name": "Status",
      "func": "const { payload } = msg;\n\nreturn {\n    ...msg,\n    payload: {\n        shape: 'dot',\n    text: payload.private ? 'Private bot' : 'Public bot',\n    fill: payload.private ? 'red' : 'green'\n    }\n};",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 480,
      "y": 420,
      "wires": [
          []
      ]
  },
  {
      "id": "a1a46e3b3ec22969",
      "type": "comment",
      "z": "ab7c3e09.cb342",
      "name": "Authorization subflow",
      "info": "",
      "x": 200,
      "y": 40,
      "wires": []
  }
]